<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>

    <section class="section">
      <div class="container has-text-centered">
        <a class="title" href="{% url 'index' %}">
          Заметки графомана
        </a>
        <h1></h1>
        <h2 class="subtitle">
          Добавьте свою заметку
        </h2>
      </div>
    </section>
    <form action="{% url 'add' %}" method="POST" role="form">
      {% csrf_token %}
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Заголовок</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              {{ form.title }}
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Текст</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              {{ form.text }}
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-primary">
                Отправить
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
